.header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 60px;
  display: flex;
  align-items: center;
  background-color: var(--primary);
  color: white;
  font-weight: 600;

  &__img{
    margin: 0 16px;
  }
  &__nav{
    margin-right: 24px;

  }
  &__link{
    opacity: 0.5;
  }

}

.spacer {
  flex: 1;
}
.active{
  opacity: 1;
}
